# EDCOP Ingest Node Chart values
images:
  # Base image: docker.elastic.co/logstash/logstash:6.3.1 
  logstash: docker.elastic.co/logstash/logstash:6.3.1
  # HA Redis REQUIRES the following image:
  # Highly Availability Redis: quay.io/smile/redis:4.0.9r0
  # Regular Redis: redis:4.0.9
  redis: "redis:4.0.9"
networks:
  # Overlay is the name of the default cni network
  overlay: calico
logstashConfig:
  # Set each feature to 'true' or 'false' to enable or disable them. 
  # At least one feature needs to be enabled
  features:
    syslog:
      # Enables Logstash to ingest syslogs from the chosen port on the host
      # Point syslogs to Logstash at $HOST-IP:$PORT 
      enabled: true
      # Default Kubneretes nodeports range from 30000 - 32767  
      # This port will be exposed on each host the pod runs on, 
      # so you can point traffic to anyone of your ingest nodes 
      # and have it loadbalanced from there
      port: 30144
      # Filters can be set to 'true' or 'false' and are not mandatory
      # If you do not choose any filters, Logstash will do minimal parsing
      # We have included some common devices/services here, but if you need more
      # you should place them in the templates/logstash-pipeline.yaml file.
      filters:
        # Cisco ASA devices
        cisco_asa: false
      # Syslog pipeline
      pipeline:
        #Limits the number of threads that will be used by Logstash
        threads: 2
        #Configures the batch count that Logstash will process at a time.
        batchCount: 250
        #Sets the number of workers for pulling Redis events
        pipelineWorkers: 2
        pipelineOutputWorkers: 2
        #Sets the amount of events grabbed from Redis at one time.
        pipelineBatchSize: 150
    packetbeat: 
      # Enables Logstash to ingest Packetbeat logs from Redis within the cluster
      # Point Packetbeat to 'ingest-service' using port 6379
      # *Note: Port 6379 is internal to the cluster
      enabled: false
      # packetbeat pipeline settings
      pipeline:
        # Limits the number of threads that will be used by Logstash
        threads: 2
        # Configures the batch count that Logstash will process at a time.
        batchCount: 250
        # Sets the number of workers for pulling Redis events
        pipelineWorkers: 2
        pipelineOutputWorkers: 2
        # Sets the amount of events grabbed from Redis at one time.
        pipelineBatchSize: 150
    winlogbeat: 
      # Enables Logstash to ingest Winlogbeat logs from Redis
      # REQUIRES the use of externally available Redis
      # Point your Winlogbeat instance to '$HOST-IP' using the port 
      # you specify in the section for Redis below. 
      enabled: false
      # winlogbeat pipeline settings
      pipeline:
        # Limits the number of threads that will be used by Logstash
        threads: 2
        # Configures the batch count that Logstash will process at a time.
        batchCount: 250
        # Sets the number of workers for pulling Redis events
        pipelineWorkers: 2
        pipelineOutputWorkers: 2
        # Sets the amount of events grabbed from Redis at one time.
        pipelineBatchSize: 150
    bro: 
      # Enables Logstash to ingest Bro logs from Redis within the cluster
      # Point Bro's logs to 'ingest-service' using port 6379
      # *Note: Port 6379 is internal to the cluster
      enabled: false
      # Bro pipeline settings
      pipeline:
        # Limits the number of threads that will be used by Logstash
        threads: 2
        # Configures the batch count that Logstash will process at a time.
        batchCount: 250
        # Sets the number of workers for pulling Redis events
        pipelineWorkers: 2
        pipelineOutputWorkers: 2
        # Sets the amount of events grabbed from Redis at one time.
        pipelineBatchSize: 150
    suricata:
      # Enables Logstash to ingest Suricata logs from Redis within the cluster
      # Point Suricata's logs to 'ingest-service' using port 6379
      # *Note: Port 6379 is internal to the cluster
      enabled: false
      # Suricata pipeline settings
      pipeline:
        # Limits the number of threads that will be used by Logstash
        threads: 2
        #Configures the batch count that Logstash will process at a time.
        batchCount: 250
        # Sets the number of workers for pulling Redis events
        pipelineWorkers: 2
        pipelineOutputWorkers: 2
        # Sets the amount of events grabbed from Redis at one time.
        pipelineBatchSize: 150
  resources:
    # Resources limit Logstash as a whole
    # Sets the initial and max JVM heap that will be allocated, generally these two values should be the same.
    initialJvmHeap: 4g
    maxJvmHeap: 4g
    # Default requests are set to accommodate limited resource VMs
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 2
      memory: 8G
redisConfig:
  # Enables a highly available Redis cluster across ingest nodes
  # Set to 'true' or 'false'
  # Minimum of two servers and two sentinels
  # DO NOT enable HA on single node clusters!
  highAvailability:
    enabled: false
    servers: 2
    sentinels: 2 
  # Allow applications to send data to Redis from outside the cluster
  # REQUIRED for winlogbeat
  # Opens a nodePort on ingest nodes to allow traffic into Redis
  # Point Redis traffic to $HOST-IP:$PORT 
  external:
    # true or false
    enabled: false
    port: 30379
  resources:
    server:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 2
        memory: 8G
    # Ignores if highvailability is set to 'false'
    sentinel:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 2
        memory: 2G

